  <form action="/">
    <div class="container">
      <input type="url" name="input" placeholder="Input URL here" required />
      <button class="shorten" type="submit">Shorten</button>
    </div>
  </form>